/* Imports */

@import url('https://fonts.googleapis.com/css?family=Chau+Philomene+One|Stardos+Stencil');
@import url('http://weloveiconfonts.com/api/?family=zocial');

/* zocial */

[class*="zocial-"]:before {
    font-family: 'zocial', sans-serif;
}


/* Top level selectors */

html, body, div {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Stardos Stencil', cursive;
    font-family: "Chau Philomene One", sans-serif;
    background: #f6f6f6;
}

.container {
    background: white;
    padding: 0;
    box-shadow: 0 0 30px #e6e6e6;
}

.row {
    margin: 0 20px;
}

.footer {
    background: #333;
    border-bottom: none;
    color: #bfbfbf;
}

.footer a {
    padding: 5px;
    text-decoration: none;
    color: #bfbfbf;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.footer a:hover {
    color: #337ab7;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}


/* Header CSS */

.logo {
    margin-left: 10px;
    margin-top: 5px;
}

hr {
  margin: 10px 0;
}

/* CSS for banner */

.banner-caption {
  text-align: center;
  background: #eeeeee;
  padding: 10px;
  margin-bottom: 0;
  font-size: 1.3em;
  border-radius: 8px 8px 0 0;
}

.banner img {
  border-radius: 0 0 8px 8px;
}

.banner {
    -o-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    font-size: 0.9em;
}

.banner:hover {
    height: 100%;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}


/* Featured section CSS */

figure {
    margin: 15px 0;
    border: 1px solid #f6f6f6;
}

figcaption h4 {
  margin: 0;
  padding: 5px;
  background: #f6f6f6;
  font-size: 1.1em;
}

.featured-images {
  margin-bottom: 40px;
}

figure {
    box-shadow: none;
    -o-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
}

figure:hover {
    box-shadow: 0 0 25px #666;
    cursor: pointer;
}

.featured-images img {
    height: 180px;
    width: 360px;
}

.featured-title {
  margin-top: 20px;
}

/* CSS for Modals */

.modal-dialog {
    text-align: center;
}

.modal-body img {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
}

.modal-footer {
    text-align: center;
}


.ftr {
  margin: 0;
}

/* CSS for footer social icons*/

.social {
    text-align: right;
    padding-top: 7px;
}

header {
    margin-top: 10px;
}


/* Media Queries */

.top {
    height: 15px;
    background: #bbb;
}

@media screen and (max-width: 990px) {
    .banner {
        height: 100%;
    }
}

@media screen and (min-width: 990px) {
    .banner {
        overflow: hidden;
        height: 450px;
    }
    .banner img {
        max-height: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .featured-images h4 {
        font-size: 1.1em;
    }
    .banner-caption {
        font-size: 1.1em;
    }
    h1 {
        font-size: 2em;
    }
    figure {
        margin-bottom: 20px;
        text-align: center;
    }
    figure img {
        margin: 0 auto;
    }
    .featured-title {
        text-align: center;
        margin-top: 20px;
    }
}

@media screen and (min-width: 768px) {
    .featured-images {
        text-align: center;
    }
    .modal-body p {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 450px) {
    .featured-images {
        text-align: center;
    }
}
